@use 'base/mixins' as m;

@include m.mobile {
    .modal {
        padding: 24px 20px;
    }

    .modal__buttons {
        flex-direction: column;

        .btn {
            width: 100%;
        }
    }
}