@use 'libs/reboot';
@use 'libs/fonts';

@use 'base/variables' as v;
@use 'base/mixins' as m;

// Общие компоненты
@use 'blocks/common/layout';
@use 'blocks/common/layout-media';
@use 'blocks/common/sidebar';
@use 'blocks/common/sidebar-media';
@use 'blocks/common/card';
@use 'blocks/common/forms';
@use 'blocks/common/forms-media'; 
@use 'blocks/common/buttons';
@use 'blocks/common/modal';
@use 'blocks/common/modal-media';
@use 'blocks/common/notification';

@use 'blocks/login/login';
// @use 'blocks/buildings/buildings';
// @use 'blocks/companies/companies';
@use 'blocks/dashboard/dashboard';
// @use 'blocks/platform-form/platform-form';
// @use 'blocks/platforms/platforms';

@use 'blocks/login/login-media';
// @use 'blocks/buildings/buildings-media';
// @use 'blocks/companies/companies-media';
@use 'blocks/dashboard/dashboard-media';
// @use 'blocks/platform-form/platform-form-media';
// @use 'blocks/platforms/platforms-media';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Geist', sans-serif;
    font-weight: 500;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

// Прижатый футер начало
html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}
// Прижатый футер конец

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}